<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WMB Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background-results">
<h1>WMB Results</h1>
<div class="table-container">
        <div class="empty-space"></div>
	<table class="table-news">
	    <thead>
	    <tr>
	        <th>Report Time</th>
	        <th>Title</th>
	        <th>Stock Name</th>
	        <th>News Content</th>
	        <th>News Link</th>
	    </tr>
	    </thead>
	    <tbody>
	    {% for issue in results %}
	    <tr>
	        <td>{{ issue.report_time }}</td>
	        <td>{{ issue.title }}</td>
	        <td>{{ issue.stock_name }}</td>
	        <td>{{ issue.news_content }}</td>
	        <td>{{ issue.news_link }}</td>
	    </tr>
	    {% endfor %}
	    </tbody>
	</table>
        <div class="empty-space"></div>
</div>
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('wmb', start_date=start_date, end_date=request.args.get('end_date'), page=max(1, page-20), size=size) }}"><button class="btn btn-primary prev-btn">Prev</button></a>
    {% endif %}
    <div class="pages">
        {% if page <= 10 %}
            {% for p in range(1, min(20, total_pages)+1) %}
                {% if p == page %}
                    <span class="current-page">{{ p }}</span>
                {% else %}
                    <a href="{{ url_for('wmb', start_date=start_date, end_date=end_date, page=p, size=size) }}"><span>{{ p }}</span></a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for p in range(max(1, page-10), min(page+10, total_pages)+1) %}
                {% if p == page %}
                    <span class="current-page">{{ p }}</span>
                {% else %}
                    <a href="{{ url_for('wmb', start_date=start_date, end_date=end_date, page=p, size=size) }}"><span>{{ p }}</span></a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if page < total_pages %}
        <a href="{{ url_for('wmb', start_date=start_date, end_date=end_date, page=min(page+20, total_pages), size=size) }}"><button class="btn btn-primary next-btn">Next</button></a>
    {% endif %}
</div>
</body>
</html>
